*{
    margin: 0px;
    padding: 0px;
}


.parent{
    min-height: 500px;
    font-size: 30px;
    border: 1px solid black;
    margin: 20px;
    
}

.child{
    border: 2px solid blueviolet;
    width: 200px;
    margin: auto;
    position: relative;
    top: 50px;
    
}